<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @facturation.price %>
</p>

<%= link_to 'Edit', edit_facturation_path(@facturation) %> |
<%= link_to 'Back', facturations_path %>
