/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


*= require css/bootstrap.min
*= require css/now-ui-kit


 */

// *,
// ::after,
// ::before {
//     box-sizing: border-box;
// }

input.btn-neutral {
    background-color: transparent;
}

div.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.related-products {
    background-color: #FFD6B6;


}

img.img-raised {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1) !important;
}

div.card-product {
    margin-top: 0px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1) !important;
}

h3.text-center {
    padding-top: 0px !important;
}

div.card-body {
    padding-top: 0px;
}

h6.category {

    text-align: start !important;
}

@mixin ellipsis($width:100%) {
    white-space: nowrap;
    width: $width;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.card-link {
    text-align: start;
    @include ellipsis();

}

div.price-container {
    margin-top: 0px !important;
}

main {
    padding-top: 60px;
}



div.card-signup {
    margin-bottom: 0px !important;

}

div.row-content-signup {
    align-items: center;
    width: 100%;
}

div.content-signup {
    margin-top: 62px !important;
    margin-bottom: 0px !important;
    height: calc(100vh - 62px) !important;
}

div.container-signup {
    display: flex;
    align-items: center;
    justify-content: center;
}


a {
    border: none !important;
}

.stripe-button-el {

    background: none !important;
    background-image: none !important;
    background-color: #ea4c89 !important;
    color: #fff !important;
    border-width: 1px !important;
    border-radius: 30px !important;
    padding: 11px 23px !important;

    span {
        background-color: transparent !important;
        box-shadow: none !important;
        padding: 0 !important;
        text-shadow: none !important;
        background: none !important;
        background-image: none !important;
        min-height: auto !important;
        height: auto !important;
        font-weight: 400 !important;
        font-size: 0.8571em !important;
        line-height: 1.35em !important;
        font-family: "Montserrat",
            "Helvetica Neue",
            Arial,
            sans-serif !important;

    }

}
@font-face {
  font-family: 'nucleo-outline';
  src: font-url("/fonts/nucleo-outline.eot");
  src: font-url("/fonts/nucleo-outline.eot?#iefix") format("embedded-opentype"), font-url("/fonts/nucleo-outline.woff2") format("woff2"), font-url("/fonts/nucleo-outline.woff") format("woff"), font-url("/fonts/nucleo-outline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
