<div class="container mt-5 pt-5">
  <%if @product.image.attached?%>
    <%= image_tag @product.image, alt: 'image' %>
  <%else%>
    <p>Aucune image liée à cet article pour l'instant</p>
  <%end%>

  <%= render 'form', product: @product %>

  <%= link_to 'Back', products_path %>
</div>
