<footer class="footer footer-big footer-white">
    <div class="container">
        <div class="content ">
            <div class="row  d-flex justify-content-between">
                
                <div class="col-md-2">
                    <h5>About Us</h5>
                    <ul class="links-vertical">
                        <li>
                            <a href="#pablo" class="text-muted">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#pablo" class="text-muted">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#pablo" class="text-muted">
                                Presentation
                            </a>
                        </li>
                        <li>
                            <a href="#pablo" class="text-muted">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 ">
                    <h5>Market</h5>
                    <ul class="links-vertical">
                        <li>
                            <a href="#pablo" class="text-muted">
                                Sales FAQ
                            </a>
                        </li>
                        <li>
                            <a href="#pablo" class="text-muted">
                                How to Register
                            </a>
                        </li>
                        <li>
                            <a href="#pablo" class="text-muted">
                                Sell Goods
                            </a>
                        </li>
                        <li>
                            <a href="#pablo" class="text-muted">
                                Receive Payment
                            </a>
                        </li>
                        <li>
                            <a href="#pablo" class="text-muted">
                                Transactions Issues
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="d-flex justify-content-around">
                <div class="col">
                    <h5>Follow Us</h5>
                    <ul class="social-buttons">
                        <li>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-twitter btn-round">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-facebook btn-round">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-instagram btn-round">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <h5>
                        <small>Numbers Don't Lie</small>
                    </h5>
                    <h5>14.521
                        <small class="text-muted">Kitty Cat</small>
                    </h5>
                    <h5>1.423.183
                        <small class="text-muted">Transactions</small>
                    </h5>
                </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="copyright">
            Copyright &copy;
            <script>
                document.write(new Date().getFullYear())
            </script> TeachPeachTeam All Rights Reserved.
        </div>
    </div>
</footer>