<!DOCTYPE html>
 <html>
  <head>
   <%= render 'layouts/head' %>
  </head>

  <body>
   <header>
    <%= render 'layouts/navbar' %>
   </header>

<%= yield %>

    <!-- Footer -->
     <%= render 'layouts/footer' %>
    <!-- Footer -->

  </body>
</html>
